.containerDivDetail {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(127, 127, 127, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.daznservices.com/di/library/DAZN_News/9f/a0/rb19-red-bull-f1_1mkfm28jzu9j214eg7lu0u1i2v.jpeg?t=482467694");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; 
  overflow: hidden;

  .titleDetail {
    position: relative;
    top: 90px;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
    color: var(--white);
  }

  .containerDriverDetail {
    background-color: var(--blackLigth);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px 5px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    height: auto;
    margin: 120px auto 30px auto;

    .containerImage {
      display: flex;
      gap: 20px;

      .detailImage {
        border-radius: 10px;
        width: 350px;
        height: auto;
      }
      .divItemsDetail {
        display: flex;
        flex-direction: column;

        .detailId,
        .detailName,
        .detailLastName,
        .detailNationality,
        .detailBirthdate,
        .detailTeams,
        .detailDescription {
          font-size: 40px;
          color: var(--white);
          margin-bottom: 10px;
        }
        .detailButtonEdit {
          padding: 10px;
          border-radius: 10px;
          border: none;
          margin-top: 150px;
          width: 150px;
          background-color: var(--white);
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 900;
          cursor: pointer;

          &:hover {
            background-color: transparent;
            border: 2px solid var(--black);
          }
        }
        .detailId {
          text-align: start;
          text-wrap: wrap;
        }
        .spanName {
          font-size: 32px;
          font-style: italic;
          font-weight: 900;
          color: var(--amber400);
        }
      }
      
    }

    .containerDetails {
      .detailDescription {
        text-align: justify;
        text-wrap: balance;
        padding: 20px;
        font-size: 40px;
        color: var(--white);
        margin-top: -10px;
        border-top: 1px solid var(--white);

        .spanDescription {
          font-size: 20px;
          color: var(--amber400);
          font-style: italic;
          background-color: var(--);
        }
      }
    }
  }
}
