.aboutContainer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(127, 127, 127, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://www.infobae.com/new-resizer/SgdqSEtRwt62LPxeb4QoZA9M5SE=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/5FZ3BWHK6FA73GKKPHXZSZBHFE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;

  .aboutText {
    position: relative;
    top: 120px;
    width: 60vw;
    margin: 0 auto;
    text-wrap: balance;
    background-color: #00000070;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px 5px;
    padding: 50px;
    border-radius: 10px;

    .aboutH2 {
      margin-bottom: 20px;
      font-size: 40px;
      color: var(--white)
    }
    .aboutH3 {
      margin-top: 20px;
      font-size: 30px;
      color: var(--white);
    }
    .aboutH4 {
      margin-top: 20px;
      color: var(--white);
      font-size: 22px;
    }
    .aboutP {
      color: var(--amber400);
      font-size: 18px;
    }
    .aboutSpan {
      color: var(--white)
    }
    .aboutLiSpan {
      text-transform: uppercase;
      font-weight: 900;
      color: var(--amber400)
    }
  }
}

/* MEDIAS QUERY */
@media (max-width: 768px) {
  .aboutContainer {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 1200px;
    padding: 40px;
    margin-top: -180px;

    .aboutText {
      width: auto;
      height: auto;
      padding: 50px 25px;

      .aboutH2 {
        font-size: 26px;
        text-align: center;
      }
      .aboutH3 {
        font-size: 22px;
      }
      .aboutP {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .aboutContainer {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 1500px;
    padding: 20px;
    margin-top: -180px;

    .aboutText {
      width: auto;
      height: auto;
      padding: 50px 25px;

      .aboutH2 {
        font-size: 26px;
        text-align: center;
      }
      .aboutH3 {
        font-size: 22px;
      }
      .aboutP {
        font-size: 16px;
      }
    }
  }
}
