.homeContainer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(127, 127, 127, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://e2.365dm.com/23/05/768x432/skysports-f1-h2h-red-bull-mercedes_6152973.jpg?20230512123305");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vw;

  .formHome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    gap: 10px;

    .inputSearch {
      padding: 8px;
      border-radius: 5px;
      border: none;
    }
    .selectForm,
    .sortSelect {
      padding: 7px;
      border-radius: 5px;
      border: none;
    }
    .buttonForm {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: var(--black);
      color: var(--white);
      font-weight: 600;
      cursor: pointer;
      width: 100px;

      &:hover {
        background-color: var(--blackLigth);
        border: 2px solid var(--black);
        padding: 8px;
      }
    }
  }

  .noResultsMsg {
    font-size: 50px;
    text-align: center;
    color: var(--white);
    margin-top: 350px;
    box-shadow: rgba(255, 255, 255, 0.5)  0px 0px 15px 5px;
    padding: 20px;
  }

  .currentPage {
    text-align: center;
    color: var(--white);
    font-weight: 600;
    padding-bottom: 20px;
  }

  .pagination {
    /* background-color: red; */
    margin-top: 10px;
    padding-bottom: 25px;
    text-align: center;

    .paginationButton {
      background-color: var(--amber400);
      padding: 10px;
      border-radius: 10px;
      border: none;
      margin: 0 20px;
      font-weight: 600;
    }
    .pageButton,
    .currentPageButton {
      font-size: 16px;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: none;
      margin: 0 5px;
      background-color: var(--black);
      color: var(--white);
      /* text-align: center; */
    }
    .currentPageButton {
      width: 30px;
      height: 30px;
      background-color: var(--green400);
      color: var(--black);
      font-weight: 600;
    }
  }
}
