.createContainer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(127, 127, 127, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://media.formula1.com/image/upload/t_16by9North/f_auto/q_auto/v1685892400/trackside-images/2023/F1_Grand_Prix_of_Spain/1495887880.jpg.transform/9col/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .createContainerForm {
    /* z-index: -1; */

    .createForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 450px;
      position: relative;
      top: 100px;
      margin: 0 auto;
      padding: 30px 50px;
      border-radius: 10px;
      border: 1px solid var(--white);
      box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
      /* z-index: -1; */

      .createTitleForm {
        font-size: 32px;
        font-weight: 900;
        text-align: center;
      }
      .createLabelForm {
        margin-top: 10px;
        font-weight: 900;
        font-size: 18px;
      }
      .inputCreateForm {
        padding: 8px;
        border-radius: 5px;
        border: none;
        margin-top: 5px;
      }
      .errorMsg {
        color: var(--red400);
        font-size: 0.8em;
        margin-top: 5px;
        margin-bottom: -5px;
        font-weight: 600;
      }
      .buttonCreateForm {
        margin-top: 20px;
        padding: 8px;
        border-radius: 5px;
        border: none;
        background-color: var(--black);
        color: var(--white);
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        border: 2px solid var(--black);

        &:hover {
          background-color: var(--blackLight);
          border: 2px solid var(--black);
          color: var(--black);
        }
      }
    }
  }

  .modalContainerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 130px;

    .textModal {
      font-size: 18px;
      font-weight: 900;
    }
    .inputId {
      padding: 8px;
      border-radius: 5px;
      border: none;
      margin: 10px 0;
    }
    .buttonOpenForm {
      padding: 8px;
      border-radius: 5px;
      border: none;
      background-color: var(--black);
      color: var(--white);
      font-weight: 900;
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer;
      border: 2px solid var(--black);
      margin-bottom: 10px;

      &:hover {
        background-color: var(--blackLight);
        border: 2px solid var(--black);
        color: var(--black);
      }
    }

    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .modalContent {
        display: flex;
        width: 450px;
        border-radius: 10px;
        position: relative;
        top: -20px;

        .modalForm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 450px;
          position: relative;
          top: 120px;
          margin: 0 auto;
          padding: 30px 50px;
          border-radius: 10px;
          border: 1px solid var(--amber400);
          box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
          top: -35px;
          background-color: var(--amber400);

          .editTitleForm {
            font-size: 32px;
            font-weight: 900;
            text-align: center;
          }
          .modalLabelForm {
            margin-top: 10px;
            font-weight: 900;
            font-size: 18px;
          }
          .modalInputForm {
            padding: 8px;
            border-radius: 5px;
            border: none;
            margin-top: 5px;
          }
          .buttonsContainerModal {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .buttonEditModalForm,
            .buttonDeleteModalForm,
            .buttonCloseModalForm {
              margin: 5px 0;
              padding: 8px;
              border-radius: 5px;
              border: none;
              font-weight: 900;
              color: var(--white);
              text-transform: uppercase;
              width: 100px;

              &:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: transform 0.25s ease-out;
              }
            }
            .buttonEditModalForm {
              background-color: var(--green400);
            }
            .buttonDeleteModalForm {
              background-color: var(--red400);
            }
            .buttonCloseModalForm {
              background-color: var(--black);
            }
          }
        }
      }
    }
  }
}

/* MEDIAS QUERY */
@media (max-width: 1140px) {
  .createContainer {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .createContainerForm {
      margin-top: -50px;

      .createForm {
        .createTitleForm,
        .createLabelForm {
          color: var(--amber400);
        }
        .buttonCreateForm {
          background-color: var(--green400);
          border: 2px solid var(--green400);
          color: var(--black);
        }
      }
    }

    .modalContainerForm {
      margin-top: 10px;
      padding-bottom: 30px;
      color: var(--amber400);

      .textModal {
        font-size: 16px;
      }
      .buttonOpenForm {
        background-color: var(--amber600);
        border: 2px solid var(--amber600);
      }
    }
  }
}

@media (max-width: 768px) {
  .createContainer {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .createContainerForm {
      transform: scale(0.95);
      margin-top: -125px;

      .createForm {
        .createTitleForm,
        .createLabelForm {
          color: var(--amber400);
        }
        .buttonCreateForm {
          background-color: var(--green400);
          border: 2px solid var(--green400);
          color: var(--black);
        }
      }
    }

    .modalContainerForm {
      margin-top: -15px;
      padding-bottom: 30px;
      color: var(--amber400);

      .textModal {
        font-size: 16px;
      }
      .buttonOpenForm {
        background-color: var(--amber600);
        border: 2px solid var(--amber600);
      }
    }
  }
}

@media (max-width: 480px) {
  .createContainer {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .createContainerForm {
      transform: scale(0.85);
      margin-top: -180px;
      z-index: -1;

      .createForm {
        .createTitleForm,
        .createLabelForm {
          color: var(--amber400);
          z-index: -1;
        }
        .buttonCreateForm {
          background-color: var(--green400);
          border: 2px solid var(--green400);
          color: var(--black);
        }
      }
    }

    .modalContainerForm {
      transform: scale(0.95);
      margin-top: -50px;
      padding-bottom: 30px;
      color: var(--amber400);

      .textModal {
        font-size: 16px;
      }
      .buttonOpenForm {
        background-color: var(--amber600);
        border: 2px solid var(--amber600);
      }
    }
  }
}
