.createContainer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(127, 127, 127, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://media.formula1.com/image/upload/t_16by9North/f_auto/q_auto/v1685892400/trackside-images/2023/F1_Grand_Prix_of_Spain/1495887880.jpg.transform/9col/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vw;

  .createForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    position: relative;
    top: 200px;
    margin: 0 auto;
    background-color: red;
    padding: 50px;
    border-radius: 10px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalContent {
      display: flex;
      width: 400px;
      border-radius: 10px;

      .modalForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        position: relative;
        top: 200px;
        margin: 0 auto;
        background-color: var(--amber400);
        padding: 50px;
        border-radius: 10px;
        top: -50px;
      }
    }
  }
}
